.about-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 20px 0;
  color: var(--text-dark);
  z-index: 10;
}

.about-description {
  padding: 0 50px;
  text-align: center;
  color: var(--text-dark);
  z-index: 10;
}

.aboutus-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}

.explore-button {
    position: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    overflow: hidden; 
    transition: color 0.3s ease-in-out; 
    border: none; 
    border-top: 1px solid #ffffff; /* Top line */
    border-bottom: 1px solid #ffffff; /* Bottom line */
    color: #ffffff;
    background-color: transparent;
    z-index: 10;
}

/* Span wrapper ensures text sits above the filling background */
.explore-button span {
    position: relative;
    z-index: 20; 
    display: inline-block;
}

.explore-button span:hover {
  color: #000;
  cursor: pointer;    
}

.explore-button {
    position: relative;
    overflow: hidden; /* Ensures the fill doesn't show outside the button */
    z-index: 1;
    transition: color 0.4s; /* Smooth text color change */
}

/* Create the sliding white box */
.explore-button::before {
    content: '';
    position: absolute;
    top: 100%; /* Start completely hidden at the bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: top 0.4s; /* Controls the slide speed */
    z-index: -1; /* Puts it behind the text */
}

.explore-button:hover {
    color: var(--text-dark);
}

.explore-button:hover::before {
    top: 0; /* slide up to cover the button */
}